<%= form_for @user, html: {class: "form-horizontal"}, format: :html do |f| %>
  <div class="control-group">
    <%= f.label :first_name, class: "control-label" %><br>
    <%= f.text_field :first_name, class: "form-control" %>
  </div>
  <div class="control-group">
    <%= f.label :last_name, class: "control-label" %><br>
    <%= f.text_field :last_name, class: "form-control" %>
  </div>
  <div class="control-group">
    <%= f.label :address1, class: "control-label" %><br>
    <%= f.text_field :address1, class: "form-control" %>
  </div>
  <div class="control-group">
    <%= f.label :address2, class: "control-label" %><br>
    <%= f.text_field :address2, class: "form-control" %>
  </div>
  <div class="control-group">
    <%= f.label :state %><br>
    <%= f.text_field :state, class: "form-control" %>
  </div>
  <div class="control-group">
    <%= f.label :city %><br>
    <%= f.text_field :city, class: "form-control" %>
  </div>
  <div class="control-group">
    <%= f.label :zipcode %><br>
    <%= f.text_field :zipcode, class: "form-control input-xlarge" %>
  </div>

  <%= f.label :signature %><br>
  <div class="control-group sigPad">
    <div class="sig sigWrapper">
      <div class="typed"></div>
      <canvas class="pad" id="signature-pad" width="325" height="55"></canvas>
      <%= f.hidden_field :signature, class: "output" %><br />
    </div>
    <div class="clearButton">
      <a href="#clear">Clear </a>
    </div>
  </div>
  <div class="form-actions">
    <%= f.submit "Save User", class: "btn btn-success" %>
  </div>
<% end %>

<script type="text/javascript">
  $(document).ready(function () {
    $('.sigPad').signaturePad({ drawOnly:true });
  });
</script>