<%= form_for @user, :html => {:class => "form-horizontal"} do |f| %>
  <div class="control-group">
    <%= f.label :first_name, class: "control-label" %><br>
    <%= f.text_field :first_name, class: "form-control" %>
  </div>
  <div class="control-group">
    <%= f.label :last_name, class: "control-label" %><br>
    <%= f.text_field :last_name, class: "form-control" %>
  </div>
  <div class="control-group">
    <%= f.label :address1, class: "control-label" %><br>
    <%= f.text_field :address1, class: "form-control" %>
  </div>
  <div class="control-group">
    <%= f.label :address2, class: "control-label" %><br>
    <%= f.text_field :address2, class: "form-control" %>
  </div>
  <div class="control-group">
    <%= f.label :state %><br>
    <%= f.text_field :state, class: "form-control" %>
  </div>
  <div class="control-group">
    <%= f.label :city %><br>
    <%= f.text_field :city, class: "form-control" %>
  </div>
  <div class="control-group">
    <%= f.label :zipcode %><br>
    <%= f.text_field :zipcode, class: "form-control input-xlarge" %>
  </div>
  <div class="control-group">
    <%= f.submit "Generate PDF", class: "btn btn-success" %>
  </div>
<% end %>