<div class='col-md-8 col-md-offset-2 panel panel-default'>
  <div class='panel-body'>

    <h2>HCAH</h2>
    <h4> User Details</h4>
    <div class='panel panel-default'>
      <div class='panel-body'>
        <table class='table table-hover no-border-top'>
          <tr>
            <th> Name </th>
            <th> Address1 </th>
            <th> Address2 </th>
            <th> City </th>
            <th> State </th>
            <th> Zipcode </th>
          </tr>
          <tr>
            <td><%= @user.fullname %></td>
            <td><%= @user.address1 %></td>
            <td><%= @user.address2 %></td>
            <td><%= @user.city %></td>
            <td><%= @user.state %></td>
            <td><%= @user.zipcode %></td>
          </tr>
        </table>

        <div class="sigPad sigWrapper">
          <div class="typed"></div>
          <canvas class="pad" width="325" height="55"></canvas>
          <input type="hidden" name="output" class="output"/>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function () {
    sig = <%= raw @user.signature %>;
    $('.sigPad').signaturePad({ displayOnly:true }).regenerate(sig);
  });
</script>